<a href="https://colab.research.google.com/github/ANdIeCOOl/MLP/blob/main/MLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 1

## Practice Assignment

### Download the data
Download the data and save as data.csv in runtime storage

In [4]:
!wget "https://drive.google.com/file/d/1zP38WCdZQ9StsAHTTLk72763QJQkhWrG/view" -O "data.csv"

--2025-01-12 07:12:58--  https://drive.google.com/file/d/1zP38WCdZQ9StsAHTTLk72763QJQkhWrG/view
Resolving drive.google.com (drive.google.com)... 172.253.63.138, 172.253.63.102, 172.253.63.100, ...
Connecting to drive.google.com (drive.google.com)|172.253.63.138|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘data.csv’

data.csv                [ <=>                ]  92.21K  --.-KB/s    in 0.04s

2025-01-12 07:12:58 (2.44 MB/s) - ‘data.csv’ saved [94420]

### Imports

In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("/content/Preprocessing1.csv")

In [9]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day'],
      dtype='object')

Airline:The name of the airline
 - Source: The source from which the service begins
 - Destination: The destination where the service ends
 - Route: Route the flight took.
 - Dep_Time: The time when the journey starts from the source.
 - Arrival_Time: Time of arrival at the destination.
 - Duration: Total duration of the flight.
 - Total_Stops: Total stops between the source and destination.
- Additional_Info: Additional information about the flight
- Price: The price of the ticket ▶▶▶ Target
 - Month: Month of journey.
 - WeekDay: Day at which journey started.
 - Day: Date of the start of journey

In [14]:
round(df["Price"].mean(), 2)

9027.9

In [23]:
df.groupby(["Month"]).size()

Month
3    2388
4     926
5    3092
6    3044
dtype: int64

In [27]:
df.groupby(["Month"]).count()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,WeekDay,Day
Month,,,,,,,,,,,,
3,2388,2388,2388,2388,2388,2388,2388,2334,2388,2388,2388,2335
4,926,926,926,926,926,926,926,901,926,926,926,902
5,3092,3092,3092,3091,3092,3092,3092,3029,3092,3092,3092,3004
6,3044,3044,3044,3044,3044,3044,3044,2986,3044,3044,3044,2973

In [31]:
week_df = df[df["WeekDay"].isin(["Monday","Tuesday","Wednesday","Thursday","Friday"])]

In [32]:
weekend_df = df[df["WeekDay"].isin(["Saturday","Sunday"])]

In [38]:
len(df),len(week_df) +len(weekend_df),df.columns

(9450,
 9450,
 Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
        'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
        'WeekDay', 'Day'],
       dtype='object'))

In [40]:
week_df["Price"].mean() > weekend_df["Price"].mean()

False

In [55]:
df.loc[df["Additional_Info"].isin(["No Info"]),"Additional_Info"] = "No info"

In [69]:
#df[df[df["Airline"].isin(["IndiGo"])]["Additional_Info"].isin(["No info"])].count()
# DOESNT WORK AS THE PREDICATE KEEPS DECREASING THE SIZE OF THE DATAFRAME AND INDEX MISMATCH
df[(df["Airline"].isin(["IndiGo"]))&(df["Additional_Info"].isin(["No info"]))].count()

Airline            1650
Source             1650
Destination        1650
Route              1650
Dep_Time           1650
Arrival_Time       1650
Duration           1650
Total_Stops        1609
Additional_Info    1650
Price              1650
Month              1650
WeekDay            1650
Day                1614
Additional_info       3
dtype: int64

In [64]:
df[df["Airline"].isin(["IndiGo"])]["Additional_Info"].value_counts()

Additional_Info
No info                         1650
In-flight meal not included      168
No check-in baggage included      35
Change airports                    1
1 Short layover                    1
1 Long layover                     1
Name: count, dtype: int64

In [70]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day', 'Additional_info'],
      dtype='object')

In [71]:
df["Duration"].head()

0    26h 35m
1        27h
2     1h 30m
3    15h 10m
4     8h 20m
Name: Duration, dtype: object

In [86]:
duration_series = []
for x in df["Duration"]:
  #print(x)
  #print(type(x))
  h = 0
  m = 0
  l = x.split(" ")
  for y in l:
    if "h" in y:
      h += int(''.join(map(str, (y[:-1]))))

    if "m" in y:
      # print(type(y[:-1]))
      # print(y[:-1])
      m += int(''.join(map(str, (y[:-1]))))
      #y += int
  seconds = h*60*60 + m*60
  duration_series.append(seconds)

In [89]:
df["Duration(seconds)"] = pd.Series(duration_series)

In [94]:
df.describe()

              Price        Month          Day  Duration(seconds)
count   9450.000000  9450.000000  9214.000000        9450.000000
mean    9027.895556     4.718730    13.517582       38957.936508
std     4466.677471     1.162725     8.459792       30697.632872
min     1759.000000     3.000000     1.000000         300.000000
25%     5198.000000     3.000000     6.000000       10500.000000
50%     8366.000000     5.000000    12.000000       31200.000000
75%    12373.000000     6.000000    21.000000       57000.000000
max    57209.000000     6.000000    27.000000      171600.000000

In [96]:
round(df["Duration(seconds)"].mean(),2)

38957.94

In [97]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day', 'Additional_info', 'Duration(seconds)'],
      dtype='object')

In [103]:
df["Dep_Time"]

0       20:00
1       16:00
2       19:35
3       18:55
4       17:10
        ...
9445    19:30
9446    17:00
9447    07:05
9448    08:20
9449    14:30
Name: Dep_Time, Length: 9450, dtype: object

In [144]:
military_time_dep = []
military_time_arr = []
#count= 0
for x in df["Dep_Time"]:
  #print(count)
  hour = int(x.split(":")[0])*100+int(x.split(":")[1])
  #print(hour)
  military_time_dep.append(hour)
  #count+=1
#count= 0

for x in df["Arrival_Time"]:
  #print(count)
  x = x.split(" ")[0]
  hour = int(x.split(":")[0])*100+int(x.split(":")[1])
  #print(hour)
  military_time_arr.append(hour)
  #count+=1


df["Dep_Time(Military)"] = pd.Series(military_time_dep)
df["Arrival_Time(Military)"] = pd.Series(military_time_arr)
#df["Dep_Time(Military)"] = df["Dep_Time"]apply(lambda x: int(x.split(":")[0])*100+int(x.split(":")[1]) )
#df["Arrival_Time(Military)"] = df["Dep_Time"]apply(lambda x: int(x.split(" ")[0].split(":")[0])*100+int(x.split(":")[1]) )
df["Departure_Category"] = pd.cut(df["Dep_Time(Military)"],bins=[0,500,1200,1700,2000,2500],labels=["Night","Morning","Afternoon","Evening","Night"], ordered=False)
df["Arrival_Category"] = pd.cut(df["Arrival_Time(Military)"],bins=[0,500,1200,1700,2000,2500],labels=["Night","Morning","Afternoon","Evening","Night"], ordered=False)
len(df[(df['Departure_Category'].isin(["Morning"])) & (df['Arrival_Category'].isin(["Evening"]))])

In [121]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day,Additional_info,Duration(seconds),Dep_Time(Military),Arrival_Time(Military)
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0,NaN,95700,2000,425
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0,NaN,97200,1600,1900
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0,NaN,5400,1935,2105

In [110]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day', 'Additional_info', 'Duration(seconds)'],
      dtype='object')

In [126]:
df["Arrival_Category"] = pd.cut(df["Arrival_Time(Military)"],bins=[0,500,1200,1700,2000,2500],labels=["Night","Morning","Afternoon","Evening","Night"], ordered=False)

In [127]:
df["Departure_Category"] = pd.cut(df["Dep_Time(Military)"],bins=[0,500,1200,1700,2000,2500],labels=["Night","Morning","Afternoon","Evening","Night"], ordered=False)
df["Arrival_Category"] = pd.cut(df["Arrival_Time(Military)"],bins=[0,500,1200,1700,2000,2500],labels=["Night","Morning","Afternoon","Evening","Night"], ordered=False)

In [132]:
len(df[(df['Departure_Category'].isin(["Morning"])) & (df['Arrival_Category'].isin(["Evening"]))])

933

In [133]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day', 'Additional_info', 'Duration(seconds)',
       'Dep_Time(Military)', 'Arrival_Time(Military)', 'Arrival_Category',
       'Departure_Category'],
      dtype='object')

In [134]:
df[df["WeekDay"].isin(["Monday","Tuesday","Wednesday","Thursday","Friday"])]

0    Thursday
1      Sunday
2      Friday
3      Monday
4      Monday
Name: WeekDay, dtype: object

In [136]:
week_df.describe()

              Price        Month          Day
count   6651.000000  6651.000000  6479.000000
mean    9015.219666     4.745753    14.106498
std     4536.834017     1.124108     8.782073
min     1759.000000     3.000000     1.000000
25%     5192.000000     4.000000     6.000000
50%     8330.000000     5.000000    15.000000
75%    12373.000000     6.000000    21.000000
max    57209.000000     6.000000    27.000000

In [142]:
df["Encoded_weekday"] = df["WeekDay"].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)

In [143]:
df["Encoded_weekday"].value_counts()

Encoded_weekday
0    6651
1    2799
Name: count, dtype: int64